* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: #000;
  background: #fff;
}

#editor {
  width: 50vw;
  height: 100vh;
  padding: 15px;
  display: block;
  position: fixed;
  top: 0; right: auto; bottom: 0; left: 0;
}

#console {
  width: 50vw;
  height: 100vh;
  padding: 15px;
  display: block;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: auto;

  background: #eee;
  overflow-y: auto;
  font-family: sans-serif;
}

#console .actions {
  width: 50vw;
  height: 60px;
  padding: 15px;
  position: fixed;
  top: 0; right: 0; bottom: auto; left: auto;

  background: #ddd;
}
#console .actions h1 {
  margin: 0 15px 0 0;
  vertical-align: top;
  font-size: 20px;
  display: inline;
  line-height: 33px;
}

.button {
  width: auto;
  height: 30px;
  padding: 0 15px;
  display: inline-block;

  font-weight: 900;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;

  background: #444;
  color: #fff;
  border-radius: 5px;
}

#console .content {
  margin-top: 65px;
  margin-bottom: 50vh;
  font-size: 15px;
}

#console .content p {
  padding: 0 0 0 5px;
  border-left: 2px #555 solid;
  margin-bottom: 10px;
  color: #444;
}
#console .content p.error {
  border-color: #f33;
  color: #f33;
}

#console .content table {
  padding: 0 0 0 5px;
  margin-bottom: 10px;
  border-left: 2px #555 solid;
}
