name: wasm

on:
  workflow_dispatch:
  push:
    branches:
      - "master"

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - name: Install Deno
      run: curl -fsSL https://deno.land/x/install/install.sh | sh
    - uses: actions/checkout@v1
    - name: Build SQLite
      id: build
      run: |
        export DENO_INSTALL="/home/runner/.deno"
        export PATH="$DENO_INSTALL/bin:$PATH"
        sudo apt-get -y install --no-install-recommends tclsh gcc
        cd build
        make setup amalgamation release
    - uses: stefanzweifel/git-auto-commit-action@v2.5.0
      with:
        commit_message: (GitHub Action) Rebuild SQLite WASM
        branch: master
        file_pattern: build/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
